body {
  background: #111;
  color: #fff;
  font-family: Arial;
  text-align: center;
  margin-top: 100px;
}

button {
  padding: 10px 20px;
  background: crimson;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}