body {
  background: #111;
  color: #fff;
  font-family: Arial;
  text-align: center;
  margin-top: 50px;
}

form {
  margin-top: 20px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  background: crimson;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#msg {
  margin-top: 15px;
  color: yellow;
}
